* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: aqua;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav li {
  display: inline;
  margin-left: 16px;
}

header nav li a {
  text-decoration: none;
}