/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*nav and banner*/
.banner-bg {
  position: relative;
  display: inline-block;
}

.banner-bg img {
  width: 100%;
  display: block;
  height: auto;
}

header .first-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  text-align: center;
}

header h1 {
  font-family: 'Aldrich';
  font-weight: 100;
  text-transform: uppercase;
  font-size: 64px;
}

header .title-emphasis {
  font-family: 'Liu Jian Mao Cao';
  font-size: 120px;
  text-transform: none;
}

header p {}

/* sections */
section .bg_section img {
  width: 100%;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

section .container {
  display: flex;
  align-items: flex-start;
}

header nav {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-transform: uppercase;
  padding: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
}

header h1 {
  position: absolute;
  top: 50%;
  right: 40%;
  left: 40%;
  max-height: 900px;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: right;
}

header nav ul li {
  display: inline-block;
  margin: auto 16px;
}

header nav img {
  align-items: center;
  display: inline;
  padding-right: 5px;
}

.nav-button {
  background-color: #D81B76;
  color: #2E2E2E;
  padding: 8px;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  margin-top: 8px;
  align-items: center;

}


header nav li a {
  text-decoration: none;
  color: #fff;
}

.link-button-nav {
  color: #2E2E2E;
}

.band-logos img {
  /*height:: 24px*/
}

.band-logos li {
  display: inline;
}


form input,
form textarea,
form button {
  display: block;
  width: 320px;
}

/*Google Fontes*/

.abhaya-libre-regular {
  font-family: "Abhaya Libre", serif;
  font-weight: 400;
  font-style: normal;
}

.abhaya-libre-medium {
  font-family: "Abhaya Libre", serif;
  font-weight: 500;
  font-style: normal;
}

.abhaya-libre-semibold {
  font-family: "Abhaya Libre", serif;
  font-weight: 600;
  font-style: normal;
}

.abhaya-libre-bold {
  font-family: "Abhaya Libre", serif;
  font-weight: 700;
  font-style: normal;
}

.abhaya-libre-extrabold {
  font-family: "Abhaya Libre", serif;
  font-weight: 800;
  font-style: normal;
}

.bad-script-regular {
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.liu-jian-mao-cao-regular {
  font-family: "Liu Jian Mao Cao", cursive;
  font-weight: 400;
  font-style: normal;
}

.aldrich-regular {
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*end Google Fonts*/